.image-tool {
  --bg-color: #cdd1e0;
  --front-color: #388ae5;
  --border-color: #e8e8eb;

  &__image {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 0;

    &-picture {
      max-width: 100%;
      vertical-align: bottom;
      display: block;
    }

    &-preloader {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      margin: auto;
      position: relative;
      background-color: var(--bg-color);
      background-position: center center;

      &::after {
        content: "";
        position: absolute;
        z-index: 3;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid var(--bg-color);
        border-top-color: var(--front-color);
        left: 50%;
        top: 50%;
        margin-top: -30px;
        margin-left: -30px;
        animation: image-preloader-spin 2s infinite linear;
        box-sizing: border-box;
      }
    }
  }

  &__text-inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__caption {
    font-size: 14px;
    border: 1px solid #e8e8eb;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    line-height: 1.4;

    &[contentEditable="true"][data-placeholder]::before {
      content: attr(data-placeholder);
      color: #a8a8a8;
      display: block;
    }

    &[contentEditable="true"][data-placeholder]:not(:empty)::before {
      display: none;
    }
  }

  &__link {
    font-size: 14px;
    border: 1px solid #e8e8eb;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    line-height: 1.4;

    &[contentEditable="true"][data-placeholder]::before {
      content: attr(data-placeholder);
      color: #a8a8a8;
      display: block;
    }

    &[contentEditable="true"][data-placeholder]:not(:empty)::before {
      display: none;
    }
  }

  &--empty {
    .image-tool__image {
      display: none;

      &-preloader {
        display: none;
      }
    }
  }

  &--empty,
  &--uploading {
    .image-tool__caption {
      display: none;
    }

    .image-tool__link {
      display: none;
    }
  }

  .cdx-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: auto;
      margin: 0 6px 0 0;
    }
  }

  &--filled {
    .cdx-button {
      display: none;
    }

    .image-tool__image {
      &-preloader {
        display: none;
      }
    }
  }

  &--uploading {
    .image-tool__image {
      min-height: 200px;
      display: flex;
      border: 1px solid var(--border-color);
      background-color: #fff;

      &-picture {
        display: none;
      }
    }

    .cdx-button {
      display: none;
    }
  }

  /**
   * Tunes
   * ----------------
   */

  &--withBorder {
    .image-tool__image {
      border: 1px solid var(--border-color);
    }
  }

  &--withBackground {
    .image-tool__image {
      padding: 14px;
      background: var(--bg-color);

      &-picture {
        max-width: 60%;
        margin: 0 auto;
      }
    }
  }

  &--stretched {
    .image-tool__image {
      &-picture {
        width: 100%;
      }
    }
  }

  /**
   * Size options
   * ----------------
   */

  &--size-small {
    .image-tool__image {
      &-picture {
        max-width: 25%;
        margin: 0 auto;
      }
    }
  }

  &--size-medium {
    .image-tool__image {
      &-picture {
        max-width: 50%;
        margin: 0 auto;
      }
    }
  }

  &--size-full {
    .image-tool__image {
      &-picture {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  /**
   * Alignment options
   * ----------------
   */

  &--alignment-left {
    .image-tool__image {
      &-picture {
        margin: 0 auto 0 0;
      }
    }
  }

  &--alignment-center {
    .image-tool__image {
      &-picture {
        margin: 0 auto;
      }
    }
  }

  &--alignment-right {
    .image-tool__image {
      &-picture {
        margin: 0 0 0 auto;
      }
    }
  }
}

@keyframes image-preloader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}